* {
    padding: 0;
    margin: 0;
    /* размер определяется границами */
    box-sizing: border-box; 
    /* скрываем скрол */
    overflow: hidden;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100svh;
    background-image: linear-gradient(to top, #395492, #3dd5a8);
    font-family: Arial, Helvetica, sans-serif;
    /* отключаем выделения текста */
    user-select: none;
}

.form-container {
    background-color: #ffffff; /* Белый фон для формы */
    padding: 20px; /* Внутренние отступы */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень */
    width: 300px; /* Ширина формы */
    text-align: center; /* Центрируем текст внутри формы */
}

.username-label {
    display: block; /* Лейбл занимает всю ширину */
    margin-bottom: 10px; /* Отступ снизу от лейбла */
    font-weight: bold; /* Жирный шрифт для лейбла */
    font-size: 20px;
}

.username-input {
    width: 100%; /* Полное применение ширины */
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 15px; /* Отступ снизу от поля ввода */
    border: 1px solid #ccc; /* Светлая рамка */
    border-radius: 4px; /* Закругленные углы для поля ввода */
    font-size: 20px;
}

.start-button, .restart-button, .registration-button {
    background-color: #007bff; /* Синий фон кнопки */
    color: white; /* Белый цвет текста */
    border: none; /* Без рамки */
    border-radius: 4px; /* Закругленные углы для кнопки */
    padding: 10px; /* Внутренние отступы */
    cursor: pointer; /* Курсор по форме руки */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    font-size: 20px;
}

.restart-button, .registration-button {
    margin-top: 20px;
}

.start-button:hover, .restart-button:hover, .registration-button:hover {
    background-color: #0056b3; /* Темно-синий цвет при наведении */
}

.game-info, .records-container {
    padding: 20px;
    border: 0.3vh solid rgba(32, 0, 87, 0.5);
    border-radius: 0.6vh;
    font-size: 20px;
}

.player-nickname, .records-title {
    margin-bottom: 10px;
}

.level {
    margin-bottom: 30px;
}

.next-tetramino {
    margin-bottom: 10px;
}

.rules-title {
    margin-top: 30px;
    margin-bottom: 10px;
}

.record {
    margin: 5px;
}

.grid, .tetramino {
    display: grid;
    padding: 0.6vh;
    /* отступ между клеточками */
    gap: 0.3vh;
    /* округляем углы */
    border-radius: 0.6vh;
    background-color: rgba(32, 0, 87, 0.5);
}

.grid {
    grid-template-rows: repeat(20, auto);
    grid-template-columns: repeat(10, auto);
}

.tetramino {
    width: fit-content;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, auto);
}

.cell, .tetramino-cell {
    --cell-size: min(4.5vh, 7.5vw);
    height: var(--cell-size);
    width: var(--cell-size);
    border-radius: 0.3vh;
    border: 0.1vh solid rgba(126, 150, 221, 0.2);
}

.ghost {
    background-color: rgba(40, 38, 38, 0.2);
}

.I {
    background-color: #cd0f0f;
}

.J {
    background-color: #cd870f;
}

.L {
    background-color: #cdc717;
}

.O {
    background-color: #17c525;
}

.S {
    background-color: #17bfc5;
}

.Z {
    background-color: #4e17c5;
}

.T {
    background-color: #c5177a;
}

.I, .J, .L, .O, .S, .Z, .T, .ghost {
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2),
        inset -2px -2px 2px rgba(0, 0, 0, 0.2);
}